@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

/* MOBILE */
@media (min-width: 200px) {
    @import url("/css/index/mobile.css");
    @import url("/css/service/mobile.css");
    header {
        background-image: url("/img/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 40vh;
    }

    header i {
        font-size: 40px;
        color: #aabacb;
    }

    header > section {
        background-color: #333333;
    }

    header h3 {
        color: #aabacb;
        text-transform: uppercase;
    }

    header figure {
        display: flex;
        column-gap: 5vw;
        justify-content: center;
        padding-bottom: 10%;
        position: relative;
    }

    details {
        text-align: right;
        padding-top: 5%;
        width: 100%;
    }

    nav {
        display: none;
    }

    summary {
        background-color: white;
        color: dodgerblue;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    details > ul {
        position: absolute;
        right: 0;
        background-color: white;
        text-align: center;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 30%;
    }

    details li {
        width: 100%;
    }

    details a {
        display: flex;
        justify-content: center;
        padding: 10%;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        text-decoration: none;
        color: #707172;
    }
}

/* TABLET */
@media (min-width: 600px) {
    @import url("/css/index/tablet.css");
    @import url("/css/service/tablet.css");

    header > section {
        background-color: transparent;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 2%;
    }

    header ul {
        width: 15vw;
    }

    header li {
        display: flex;
    }

    header a {
        width: 100%;
        padding: 4%;
    }

    header a:hover {
        border-bottom: 5px solid dodgerblue;
        border-top: 5px solid dodgerblue;
        color: dodgerblue;
    }

    header figure {
        background-color: #333333;
        padding: 5%;
    }

    details {
        padding-top: 2%;
    }

    summary {
        font-size: 25px;
    }

    details > ul {
        right: 2%;
    }
}

/* DESKTOP */
@media (min-width: 1100px) {
    @import url("/css/index/desktop.css");
    @import url("/css/service/desktop.css");

    details {
        display: none;
    }

    header {
        height: 50vh;
    }

    header > section {
        flex-direction: row;
    }

    header figcaption {
        font-size: 25px;
    }

    header i {
        font-size: 65px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        outline: 1px solid white;
    }

    nav > ul {
        list-style-type: none;
        display: flex;
        width: 80%;
    }

    nav li {
        width: 100%;
    }

    nav a {
        display: flex;
        justify-content: center;
        color: #707172;
        text-decoration: none;
        padding: 7%;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
    }

    nav a:hover {
        border-top: 5px solid dodgerblue;
        border-bottom: 5px solid dodgerblue;
        color: dodgerblue;
    }
}
